#photo {
    width: 75%; 
    display: block;
    margin: 10px auto;
    border: medium white solid;
    border-radius: 50%;
    box-shadow: 4px 4px 4px black;
}

div.container{
    background-color: white;
    box-shadow: 0 0 16px black;
}

section.row{
    border-bottom: dashed thin gray;
    padding-top: 5px;
    padding-bottom: 5px;
}

body{
    background: url("https://picsum.photos/1920/1080");
}
