@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lobster&family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: #000000;
}
.container {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 10% 80% 10%;
}
.box{
  color: rgb(255, 230, 0);   
  padding: 1em;
  text-align: center;
}
.box p, a, h3{
    color: #faea0a;
}
.topo {
  background-color:#000000;  
  grid-column-start: 1; 
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
  color: rgb(255, 251, 0);
}
.topo ul{
  text-decoration: none;
  list-style: none;
}
.topo ul li{
  display: inline-block;
  margin: 1em 1em;
}
.topo ul li a{
  color: rgb(247, 230, 3);
  font-family: Lobster, sans-serif;
  font-size: 2em;
  line-height: 2em;
  text-decoration: none;
  font-size: 2em;
  padding: 8px 10px;
  padding-top: 5%;
}

p, h1, h3, label{
  color: rgb(255, 238, 0);
}

.sidebar {
  background-color:#000000;  
  grid-column-start: 1; 
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;  
  float: left;
  height: 625px;
  text-align: left;
}
.sidebar a{
  text-decoration: none;
}


.conteudo {
  background-color:#000000; 
  grid-column-start: 2; 
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;  
  color: rgb(255, 251, 0);
}
.conteudo img{
  float: left;
  padding: 70px;
  width: 35%;
}
.conteudo a{
  text-decoration: none;
}
.conteudo h2{
  text-align: left;
}
.conteudo ul{
  list-style-type: none;
  text-align: justify;
}
.conteudo p{
  text-align: justify;
  padding: 5px;
}

.rodape {
  background-color:#000000; 
  display: flex;
  flex-direction: column;
  padding: 1% 0;
  float: center;
  width: 100%;
}
.rodape p{
  color: rgb(255, 238, 0);
  text-align: center;
  background-color: #000000;
}
.titulo{
  float: left;
}
.receitas{
  display: flex;
  padding-left: 5%;
}
.list1{
  list-style: none;
  float: left;
  text-align: justify;
  padding-left: 3%;
}
.list2{
  text-align: justify;
  list-style: none;
  padding-left: 18%;
}
.info{
  text-align: justify;
  list-style: none;
  padding-left: 10%;
}

.primeira a{
  padding-right: 1%;
  color: rgb(255, 251, 0);
  text-decoration: none;
  float: right;
  margin-top: 1em;
  font-size: 1.2em;
}
.passa li{
  float: right;
  padding-right: 1%;
}
.topo p{
  color: #faea0a;
  padding: 1%;
  font-size: 1.2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sublinha{
  float: right;
  padding-right: 1%;
  padding-bottom: 0.5%;
}
.sublinha a{
  text-decoration: none;
  color: #ffee00;
}

@media screen and (min-width: 768px){
  .conteudo img{
    padding: 40px;
    width: 50%;
  }
}